doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LogIn
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.form-position
      form(action="/log" method="Post")
          h3 Log In
          input(type="mail" placeholder=" Mail"  name="mail" value="" autofocus)
          input(type="password" placeholder=" Password" value="" name="password")
          button submit
      
    script(src='js/main.js')
