doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LogIn
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.form-position
      form(action="/log" method="Post")
        input(type="mail" placeholder=" Name"  name="mail" value="dhoon@redissoluble.net" autofocus)
        input(type="password" placeholder=" Password" value="CiJBrg09" name="password")
        button submit
      
    script(src='js/main.js')
