html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LogIn
    link(rel='stylesheet', href='/css/styles.css')

  body
      p NO ES VALIDO EL USUARIO O CONTRASEÑA
